@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/words';
@import 'partials/flower';
@import 'partials/mixins';

@font-face {
  font-family: 'Arcade';
  src: url("/font/Arcade.ttf"); }

/////////////////////////////////////
/////      OVERALL STYLING      /////
/////////////////////////////////////
* {
  box-sizing: border-box;
}
body {
  // background: $green;
  font-family: 'Arcade';
  color: $white;
  text-align: center;
}
p{
  font-size: 1.6em;
}

/////////////////////////////////////
/////     ARTWORK CONTAINER     /////
/////////////////////////////////////
// ***Clouds Container*** //
.cloud-background{
  background: $light-sky;
  background: -webkit-linear-gradient($light-sky 0%, $white 100%);
  background: -moz-linear-gradient($light-sky 0%, $white 100%);
  background: -o-linear-gradient($light-sky 0%, $white 100%);
  background: linear-gradient($light-sky 0%, $white 100%);
  padding: 25px 0 10px;
  overflow-x: hidden;
}

.sad-background{
  background: $light-sky;
  background: -webkit-linear-gradient($gray-sky 0%, $white 100%);
  background: -moz-linear-gradient($gray-sky 0%, $white 100%);
  background: -o-linear-gradient($gray-sky 0%, $white 100%);
  background: linear-gradient($gray-sky 0%, $white 100%);
  padding: 25px 0 10px;
  overflow-x: hidden;
}

// ***Create Static Clouds*** //
.cloud{
  width: 200px;
  height: 60px;
  background: $white;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: $white;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

// ***Cloud Animations*** //
.move-1{
  left: 400px;
  top: 50px;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
  animation: moveclouds 15s linear infinite;
}
.move-2{
  left: -100px;
  top: 25px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
  animation: moveclouds 25s linear infinite;
}
.move-3{
  left: 450px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
}
.move-4{
  left: -200px;
  top: -50px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
  animation: moveclouds 18s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

// ***Grass Artwork*** //
.grass-container{
  background-color: $white;
}
.grass{
  background-image: url('/images/grass.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
.ground-container{
  bottom: 0;
}
.grass{
  background-image: url('/images/grass.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

// ***Flower Artwork*** //
.flower-container{
  position: relative;
}
.flower-wrapper{
  width: $w;
  height: $h;
  border-radius: 0%;
  margin: 0 auto;
}
.core{
  position: absolute;
  display: inline-block;
  justify-content: center;
  top: ($h - $ch)/2;
  left: ($w - $cw)/2;
  width: $cw;
  height: $ch;
  background: $core-col;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity 0.25s eas-in-out;
  opacity: 1;
  margin: 15px 0 0 20px;
}
.smiley
{
  background-color: #ffff80;
  -webkit-border-radius: 100px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  margin: auto;
  position: absolute;
  top:0; bottom:0; left:0; right:0;
}
.eye{
  background-color: $eye;
  width: 12px;
  height: 20px;
  border-radius: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 150px;
  position: absolute;
  margin-top: 25px;
}
#leftEye{
  margin-left: 15px;
}
#rightEye{
  margin-left: 55px;
}
.mouth{
  margin-top: -57px;
  width: 80px;
  height: 125px;
  border: solid 4px $eye;
  margin-left: 1px;
  border-color: transparent transparent $eye transparent;
  border-radius: 100px 100px 100px 100px;
}

.stem{
  background: $grass;
  width: .9em;
  height: 18em;
  display: block;
  position: absolute;
  left: 143px;
  bottom: 230px;
  z-index: -1;
}
.petal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: $w;
  height: $h;
}
.petal{
  position: absolute;
  width: $pw + 3em;
  height: $ph + 2em;
  background: $petal-col;
  border-radius: 0 50% 50% 50%;
  box-shadow: -2px 2px 20px;
  box-shadow: -2px -2px 20px rgba(255,255,255,0.5)
    inset,
    0px 0px 2px rgba(0,0,0,0.5);
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;

  @for $i from 1 through $np {
    &:nth-child(#{$i}) {
      animation: ani#{$i} $anim-time ease-in-out infinite;
      animation-delay: ($i - 1) * $anim-time / $np;
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }
  }
}

@for $i from 1 through $np {
  @keyframes ani#{$i} {
    0% {
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }

    50% {
      @include transformation(
        ($h - $ph) / 2 + $off-ani * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off-ani * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        $sf
      );
    }

    100% {
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }
  }
}

/////////////////////////////////////
/////      GAME  CONTAINER      /////
/////////////////////////////////////
.game-container{
  background-color: $grass;
}
// ***Progress Bar*** //
.progress-container{

  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 2px;
    width: 250px;
    height: 20px;
  }
  progress[value]::-webkit-progress-bar{
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value{
    background-color: $progressBar;
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}

// ***Letter Buttons*** //
#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$green;
  cursor:pointer;
  border: solid 1px $white;
  @include corners(5px);
  &:hover{
    background:$green;
    border: solid 1px $white;
    color:$white;
  }
}
.active {
  @include opacity;
  cursor:default;
  &:hover{
    @include fade;
    @include opacity;
  }
}
@media (max-width: 767px) {
  #alphabet {
    padding:0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding:0 0 0 25px;
  }
}

// ***The Word To Guess*** //
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

button{
  @include corners (5px);
  background:$green;
  color:$white;
  border: solid 1px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  &:hover{
    @include transition;
    background:$white;
    border: solid 1px $white;
    color:$green;
  }
}

