@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/words';
@import 'partials/flower';
@import 'partials/mixins';
@import 'partials/animate';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
// @font-face {
//   font-family: 'Arcade';
//   src: url("/font/Arcade.ttf"); }

/////////////////////////////////////
/////      OVERALL STYLING      /////
/////////////////////////////////////
* {
  box-sizing: border-box;
}
body {
  // font-family: 'Arcade';
  font-family: 'Press Start 2P', cursive;
  color: $white;
  text-align: center;
}

///// vote tag ////
.nodeknockout-container{
  position: absolute;
  right: 0;
  z-index: 5;
  img{
    width: 75px;
  }
}

/////////////////////////////////////
/////     ARTWORK CONTAINER     /////
/////////////////////////////////////
// ***Clouds Container*** //
.cloud-background{
  background: $light-sky;
  background: -webkit-linear-gradient($light-sky 0%, $white 100%);
  background: -moz-linear-gradient($light-sky 0%, $white 100%);
  background: -o-linear-gradient($light-sky 0%, $white 100%);
  background: linear-gradient($light-sky 0%, $white 100%);
  padding: 25px 0 10px;
  overflow-x: hidden;
}
.sad-background{
  background: $gray-sky;
  background: -webkit-linear-gradient($gray-sky 0%, $white 100%);
  background: -moz-linear-gradient($gray-sky 0%, $white 100%);
  background: -o-linear-gradient($gray-sky 0%, $white 100%);
  background: linear-gradient($gray-sky 0%, $white 100%);
  padding: 25px 0 10px;
  overflow-x: hidden;
}

// ***Create Static Clouds*** //
.cloud{
  width: 200px;
  height: 60px;
  background: $white;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: $white;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

// ***Cloud Animations*** //
.move-1{
  left: 400px;
  top: 50px;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
  animation: moveclouds 15s linear infinite;
}
.move-2{
  left: -100px;
  top: 25px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
  animation: moveclouds 25s linear infinite;
}
.move-3{
  left: 450px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
}
.move-4{
  left: -200px;
  top: -50px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
  animation: moveclouds 18s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

// ***Grass Artwork*** //
.grass-container{
  background-color: $white;
}
.grass{
  background-image: url('/images/grass.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 125px;
}

// ***Flower Artwork*** //
.flower-container{
  position: relative;
  top: -165px;
  margin-bottom: -175px;
  margin-left: calc(50% - 140px);
}
.flower-wrapper{
  width: $w;
  height: $h;
  border-radius: 0%;
  margin: 0 auto;
}
.core{
  position: absolute;
  display: inline-block;
  justify-content: center;
  top: ($h - $ch)/2;
  left: ($w - $cw)/2;
  width: $cw;
  height: $ch;
  background: $core-col;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity 0.25s eas-in-out;
  opacity: 1;
  margin: 15px 0 0 20px;
}
.smiley
{
  z-index: 10;
  background-color: #ffff80;
  -webkit-border-radius: 100px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  margin: auto;
  position: absolute;
  top:0; bottom:0; left:0; right:0;
}
.eye{
  background-color: $eye;
  width: 12px;
  height: 20px;
  border-radius: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 150px;
  position: absolute;
  margin-top: 25px;
  animation: blink 5s infinite;
}
#leftEye{
  margin-left: 14px;
}
#rightEye{
  margin-left: 55px;
}
.close{
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    margin-top: 33px;
    background: $eye;
    border-radius: 5px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}


#mouth{
  margin-top: -57px;
  border: solid 4px $eye;
  margin-left: 1px;
  border-color: transparent transparent $eye transparent;
  border-radius: 100px 100px 100px 100px;
  width: 80px;
  height: 125px;
}

.stem{
  background: $grass;
  width: .9em;
  height: 10em;
  display: block;
  position: absolute;
  left: 130px;
  bottom: -95px;
  &:after {
    content: '';
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
    width: 3em;
    height: 3em;
    display: block;
    background: darken($leaf, 5);
    border-radius: 2em 0em 2em 0em;
    box-shadow: 0 0 0 .2em darken($leaf, 8) inset;
    top: 1em;
    left: 1.06em;
    position: absolute;
  }
  &:before {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    content: '';
    width: 3em;
    height: 3em;
    display: block;
    background: darken($leaf, 7);
    border-radius: 0em 2em 0em 2em;
    box-shadow: 0 0 0 .2em darken($leaf, 8) inset;
    position: absolute;
    left: -3.2em;
    top: 2.2em;
  }
}
.petal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: $w;
  height: $h;
  z-index: 10;
}
.petal{
  position: absolute;
  width: $pw + 2em;
  height: $ph + 2em;
  background: $petal-col;
  border-radius: 0 50% 50% 50%;
  box-shadow: -2px 2px 20px;
  box-shadow: -2px -2px 20px rgba(255,255,255,0.5)
    inset,
    0px 0px 2px rgba(0,0,0,0.5);
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;

  @for $i from 1 through $np {
    &:nth-child(#{$i}) {
      animation: ani#{$i} $anim-time ease-in-out infinite;
      animation-delay: ($i - 1) * $anim-time / $np;
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }
  }
}

@for $i from 1 through $np {
  @keyframes ani#{$i} {
    0% {
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }

    50% {
      @include transformation(
        ($h - $ph) / 2 + $off-ani * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off-ani * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        $sf
      );
    }

    100% {
      @include transformation(
        ($h - $ph) / 2 + $off * sin(($i - 1) * $angle-incr),
        ($w - $pw) / 2 + $off * cos(($i - 1) * $angle-incr),
        -$alpha + ($i - 1) * $angle-incr,
        $alpha,
        1
      );
    }
  }
}

/////////////////////////////////////
/////      GAME  CONTAINER      /////
/////////////////////////////////////
.game-container{
  background-color: $grass;
  padding: 15px;
}
// ***Progress Bar*** //
.progress-container{
  progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 2px;
    width: 250px;
    height: 25px;
  }
  progress::-webkit-progress-bar{
    background-color: #eee;
    border-radius: 2px;
    padding: 1px;
    box-shadow:inset 0px 2px 3px #bbb;
  }
  progress::-webkit-progress-value {
    border-radius: 2px;
    background-color: $progressBar;
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent);
  }
  .hp-value{
    padding: 5px 0;
    font-size: 1rem;
    color: #ff9c08;
  }
}

// ***The Word To Guess*** //
.word-container{
  padding: 10px 0;
  font-size: 1.7rem;
  #my-word {
    margin: 0;
    padding: 0;
    display:block;
  }
  #my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
  }
}
.word-category{
  font-size: 1rem;
  color: lighten($black, 50%);
}

// ***Letter Buttons*** //
.alphabet-container{
  margin: 15px auto;
  .letter-keys {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
  }
  .letter-keys li {
    flex: 0 0 35px;
    margin: 5px;
    height:35px;
    padding-top:8px;
    font-size:20px;
    background:$white;
    color:$green;
    cursor:pointer;
    border: solid 1px $white;
    border-radius: 4px;
    &:hover{
      background:$green;
      border: solid 1px $white;
      color:$white;
    }
  }
  .active {
    @include opacity;
    cursor: pointer;
    &:hover{
      @include fade;
      @include opacity;
    }
  }
}

button{
  background:$green;
  color:$white;
  border: solid 1px $white;
  border-radius: 5px;
  text-decoration:none;
  cursor:pointer;
  // font-family: 'Arcade';
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  padding: 14px 10px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  &:hover{
    @include transition;
    background:$white;
    border: solid 1px $white;
    color:$green;
  }
}

.word-clue{
  font-size: 1rem;
  color: lighten($black, 50%);
}

.footer{
  padding: 10px;
  background-color: darken($green, 25%);
  p{
    color: $black;
    line-height: 1.2;
    font-size: 0.6rem;
  }
}
