doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 2016 Node Knockout
    link(href='/css/styles.css', rel='stylesheet')
  body
    div.container
      div.artwork-container
          div.cloudOne
          div.cloudTwo
          div.cloudThree
      div.game-container
        progress(id="health" value="22" max="100")
        ul(id="letters")
        p(id="man")
        p(id="output" class="output")
        div#result
        div#end-img
        div#output
        p#catagoryName
        div#health
        div#alphabets
        p#mylives
        p#clue Clue-
        button#reset Play again

      div.wrapper
        div#buttons
        div#hold
        button#hint Hint

    script(src='/hangman.js')
