doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Word Garden | 2016 Node Knockout
    link(href='/css/styles.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquerykeyframes/0.0.9/jquery.keyframes.min.js")
    script(src="/js/animate.js")
  body
    div.container
      div.artwork-container
        div(id="cloud" class="cloud-background")
          div(class="cloud move-1")
          div(class="cloud move-2")
          div(class="cloud move-3")
          div(class="cloud move-4")
        div.grass-container
          div.grass
      div.game-container
        div.progress-container
          progress(id="health" value="5" max="5")
          p(id="myhp" class="hp-value")
        div(id="word-holder" class="word-container")
        div#end-img
        p(id="catagoryName" class="word-category")
        div.dropdown
          select(id="categories")
            option(value="" selected="true" disabled="disabled") Select a category
            option#categories(value="Javascript") Javascript
            option#categories(value="CSS/HTML") CSS/HTML
            option#categories(value="Node.js") Node.js
        div(id="letter-buttons" class="alphabet-container")
        button#hint Hint
        button#reset Play Again
        p(id="clue" class="word-clue")
      div.flower-container
        div.flower-wrapper
          div.petal-wrapper
            div.petal
            div.petal
            div.petal
            div.petal
            div.petal
          div.core
            div.smiley
              div(id="leftEye" class="eye")
              div(id="rightEye" class="eye")
              div(id="mouth")
          span(class="stem")
      div.footer
        p Copyright &copy; 2016 Word Garden. All Rights Reserved
    script(src='/hangman.js')