doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 2016 Node Knockout
    link(href='/css/styles.css', rel='stylesheet')
  body
    div.container
      div.artwork-container
        div.cloud-background
          div(class="cloud move-1")
          div(class="cloud move-2")
          div(class="cloud move-3")
          div(class="cloud move-4")
        div.flower-container
        div.ground-container
      div.game-container
        progress(id="health" value="5" max="5")
        ul(id="letters")
        p(id="man")
        p(id="output" class="output")
        div#result
        div#end-img
        div#output
        p#catagoryName
        div#health
        div#alphabets
        p#mylives
        p#clue Clue-
        button#reset Play again

      div.wrapper
        div#buttons
        div#hold
        button#hint Hint

    script(src='/hangman.js')
