doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Word Garden | 2016 Node Knockout
    link(href='/css/styles.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquerykeyframes/0.0.9/jquery.keyframes.min.js")
  body
    div.container
      div.artwork-container
        div.cloud-background
          div(class="cloud move-1")
          div(class="cloud move-2")
          div(class="cloud move-3")
          div(class="cloud move-4")
        div.grass-container
          div.grass
      div.game-container
        progress(id="health" value="5" max="5")
        ul(id="letters")
        p(id="man")
        p(id="output" class="output")
        div#result
        div#end-img
        div#output
        p#catagoryName
        div#health
        div#alphabets
        p#myhp
        div.dropdown
          select(id="categories")
            option(value="") Select a category
            option(value="plants") Plants
            option(value="zombies") Zombies
            input(type='submit' value='Submit')
        p#clue Clue-
        button#reset Play again
        div#buttons
        div#hold
        button#hint Hint
      div.flower-container
        div.flower-wrapper
          div.petal-wrapper
            div.petal
            div.petal
            div.petal
            div.petal
            div.petal
          div.core
            div(id="leftEye" class="eye")
            div(id="rightEye" class="eye")
            div.mouth
          span(class="stem")
    script(src='/hangman.js')