doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Word Garden | 2016 Node Knockout
    link(href='/css/styles.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquerykeyframes/0.0.9/jquery.keyframes.min.js")
  body
    div.container
      div.nodeknockout-container
        a(href="https://www.nodeknockout.com/entries/277-looks-good" target= "_blank")
          img(src="/images/voteko.png")
      div.artwork-container
        div(id="cloud" class="cloud-background")
          div(class="cloud move-1")
          div(class="cloud move-2")
          div(class="cloud move-3")
          div(class="cloud move-4")
        div.flower-container
          div.flower-wrapper
            div.petal-wrapper
              div(class="petal" id="petalOne")
              div(class="petal" id="petalTwo")
              div(class="petal" id="petalThree")
              div(class="petal" id="petalFour")
              div(class="petal" id="petalFive")
            div.core
              div.smiley
                div(id="leftEye" class="eye")
                div(id="rightEye" class="eye")
                div(id="mouth")
          span(class="stem")
        div.grass-container
          svg(height="100" width="100%")
            path(d="M 0 100 l 0 -50 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 q 125 -25 250 0 q 150 25 300 0 l 0 50 z" stroke="#CFF27B" stroke-width=" 5" fill="#CFF27B")
      div.game-container
        div.progress-container
          progress(id="health" value="5" max="5")
          p(id="myhp" class="hp-value")
        div(id="word-holder" class="word-container")
        div.dropdown
          label Current Category:
          select(id="categories")
            option#categories(value="Javascript") Javascript
            option#categories(value="CSS/HTML") CSS/HTML
            option#categories(value="Node.js") Node.js
        p(id="clue" class="word-clue")
        div(id="letter-buttons" class="alphabet-container")
        button#reset Play Again
      div.footer
        p Copyright &copy; 2016 Word Garden. All Rights Reserved
    script(src='/hangman.js')