// GENERAL COLORS
$white: #FFFFFF;
$black: #000000;

// SKY & CLOUDS
$light-sky: #76DFF7;
$gray-sky: #3F3F3F;

// GRASS & FLOWER
$grass: #CFF27E;
$eye: #262626;

//PROGRESS BAR
$progressBar: #EFC04C;

$green: #c1d72e;

// LEAF
$leaf : rgb(180,210,140);