// GENERAL COLORS
$white: #FFFFFF;
$black: #000000;

// SKY & CLOUDS
$light-sky: #76DFF7;
$gray-sky: #3F3F3F;

// GRASS & FLOWER
$grass: #CFF27E;
$eye: #262626;

//PROGRESS BAR
$progressBar: #EFC04C;

$green: #c1d72e;

// GROWING FLOWERS
$orange : #F8C475;
$red : #F87575;
$green : rgb(180,210,140);
$blue : #75BFF8;
$sky : lighten($blue, 10);
$yellow : #F3F875;
$purple : #D9ABFF;
$pink : #FF89B3;