$grass: #CFF27E;
$halfwayLoseSky: #4DA1A9;
$halfwayLoseSkyBottom: #9EFFE5;
$sky: #84F1F4;
$skyBottom: #22BFF9;
$progressBar: #EFC04C;

$light-sky: #76DFF7;
$white: #FFFFFF;
$black: #000000;

$eye: #262626;

/* Variabes */
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey:#f3f3f3;
$white: #fff;
$base-color:$green ;
